:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(254, 250, 244);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  color: #323232;
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header-nav {
    background-color: rgb(46, 54, 79);
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 0px;
    box-shadow: 0 1px 4px #afafaf;
    display: flex;
    justify-content: center;
}

.header-list {
  list-style: none;
  padding: 0;
  display: flex;
  place-items: center;
  gap: 5rem;
}

.header-list > li {
  font-weight: bold;
}

.header-list > li > a {
  color: white;
}

.header-list > li > a:hover {
  color: rgb(186, 186, 184)
}

.home-page {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5rem;
}

.profile-pic {
  height: 13rem;
  width: 11.5rem;
  border-radius: 12px;
}

.home-page > h1 {
  font-size: 2rem;
}

.home-page > p {
  font-size: .9rem;
  color: rgb(49, 61, 100);
  margin-top: -1rem;
}

.card {
  background-color: white;
  width: 25rem;
  min-height: 13rem;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.card-header {
  min-height: 5rem;
  padding-inline: 1rem;
  padding-top: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.littlelemon > .card-body {
  padding-top: 1rem;
}

.uncagedguitar > .card-header {
  background-color: #333b43;
  color: #efefef;
}

.uncagedguitar > .card-header > a > h1 {
  color: #F4CE14;
 }

 .uncagedguitar > .card-header > a > h1:hover {
  color: #c6a812;
 }

.triviacards > .card-header > a > h1 {
  color: rgba(255, 255, 255, 0.87);
}

.triviacards > .card-header > a > h1:hover {
  color: rgba(213, 213, 213, 0.87);
}

.triviacards > .card-header {
  background-color: #242424;
}

.card-header > a {
  display: flex;
  justify-content: space-evenly;
}

.card-body {
  margin-inline: 1rem;
}

.card-body > a {
  font-size: .8rem;
}

.app-logo {
  max-height: 5rem;
  max-width: 7.6rem;
}

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}